<footer>
  <a href="https://github.com/vllur/To-do-list">Source Code</a>
  <div class="Box">
  <div>
      <svg class="Box-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="Box-parallax">
          <use xlink:href="#wave" x="48" y="0" fill="rgba(141,156,191,0.7" />
          <use xlink:href="#wave" x="48" y="3" fill="rgba(141,156,191,0.5)" />
          <use xlink:href="#wave" x="48" y="5" fill="rgba(141,156,191,0.3)" />
          <use xlink:href="#wave" x="48" y="7" fill="rgb(141,156,191)" />
        </g>
      </svg>
    </div>
</div>
</footer>
