// border shortcut for changing setup of elements
/*
body, main, header, nav, article, footer, ul, ol, .pagination{
	border: 1px solid black;
}
*/

html, body
{
	min-height: 100vh;
	min-width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 0;
	color: $main;
	background: $bg;
}

img
{
	max-width: 100%;
}

nav > ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

main
{
	display: flex;
	flex-direction: column;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

article
{
	padding: 1em;
}

footer
{
	margin: auto auto 0 auto;
	flex-shrink: 0;
	width: 100%;
}
