@font-face {
  font-family: 'fontello';
  src: url('fontello.woff2?60651426') format('woff2'),
       url('font/fontello.woff?60651426') format('woff');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-pencil, .icon-trash{
  display: flex;
  align-items: center;
}

.icon-pencil:before { content: '\e800'; }
.icon-trash:before { content: '\e801'; }
