article{
	padding: 1em;
}

.Form{
	display: flex;

	& input{
		padding: 0.5em 0.75em;
		border: none;
	}

	& button{
		padding: 0.5em 0.75em;
		border: none;
		background-color: $green;
	  color: white;
	}
}

.Todo{
	max-height: 50vh;
	overflow-y: auto;
}
