article{
	margin-top: 1em;
}

.Form{
	display: flex;

	& input{
		width: 80%;
		padding: 1em;
		border: none;
	}

	& button{
		width: 20%;
		padding: 1em;
		border: none;
		background-color: $green;
	  color: white;
	}
}

.Todo{
	max-height: 50vh;
	overflow-y: auto;
	background-color: lighten($gray, 5%);
	border-radius: 1%;
}
