form, ul{
	margin-top: 1em;
}

.Form{
	display: flex;

	& input{
		width: 80%;
		padding: 1em;
		border: none;
	}

	& button{
		@include button(20%, 1em, $green);
	}
	& button:hover{
		@include buttonHover($green);
	}
	& button:active{
		@include buttonActive($green);
	}
}

.Todo{
	max-height: 50vh;
	overflow-y: auto;
	padding: 0;
	background-color: lighten($gray, 5%);
	border-radius: 1%;
	list-style-type: none;

	& li{
		margin: 1em;
		display: flex;
		justify-content: space-between;

		& .text{
			text-align: left;
		}

		& .controls{
			display: flex;
			align-content: center;
		}
	}
}

#ButtonClear{
	@include button(15%, 0.75em, $red);
	align-self: center;
	margin-bottom: 1em;
}
#ButtonClear:hover{
	@include buttonHover($red);
}
#ButtonClear:active{
	@include buttonActive($red);
}
